<!-- src/app/core/layout/app-layout/app-layout.component.html -->
<app-loader />
<div class="app-shell">
  <!-- TOPBAR -->

  <app-topbar (menuClick)="toggleSidebar()"> </app-topbar>

  <!-- MOBILE OVERLAY -->

  <div
    class="mobile-overlay"
    [class.open]="mobileSidebarOpen"
    (click)="closeSidebar()"
  ></div>

  <!-- BODY -->

  <div class="app-body">
    <!-- SIDEBAR -->

    <app-sidebar
      [mobileOpen]="mobileSidebarOpen"
      (closeMobile)="closeSidebar()"
    >
    </app-sidebar>

    <!-- CONTENT -->

    <main class="app-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
