<div class="stepper">
  <div class="stepper-header">
    שלב {{ currentStep }} מתוך {{ steps.length }}
  </div>

  <div class="stepper-items">
    @for (step of steps; track $index) {
      <div class="stepper-item">
        <div class="step-dot" [class.active]="currentStep >= $index + 1">
          {{ $index + 1 }}
        </div>

        <div class="stepper-label">
          {{ step }}
        </div>
      </div>

      @if ($index < steps.length - 1) {
        <div class="step-line" [class.active]="currentStep > $index + 1"></div>
      }
    }
  </div>
</div>
