<!--<app-loading-overlay *ngIf="isSaving"> </app-loading-overlay>-->

<div class="settings-page">
  <!-- HERO -->

  <div class="settings-hero">
    <div class="hero-top-row">
      <div>
        <div class="page-title">
          ניהול
          {{ draftEntity?.entity_type === "association" ? "עמותה" : "יישות" }}
        </div>

        <div class="page-description">
          {{ draftEntity?.display_name }}
        </div>
      </div>
      <!--
      <div class="header-actions">
        @if (!editMode) {
          <button class="edit-btn" (click)="startEdit()">עריכה</button>
        }

        @if (editMode && !editingSection) {
          <button class="cancel-btn" (click)="cancelEdit()">ביטול</button>

          <button
            class="save-btn"
            (click)="saveAll()"
            [disabled]="!draftEntity?.campaign_types?.length"
          >
            שמירת שינויים
          </button>
        }
      </div>-->
    </div>

    <!-- META -->

    <div class="hero-meta-row">
      <div class="meta-item">
        <span class="meta-label"> מספר רישום </span>

        <span class="meta-value">
          {{ draftEntity?.registration_number }}
        </span>
      </div>

      <div class="meta-separator">•</div>

      <div class="meta-item">
        <span class="meta-label"> סטטוס </span>

        <span
          class="status-text"
          [class.pending]="draftEntity?.status === 'pending_review'"
          [class.active]="draftEntity?.status === 'active'"
        >
          {{
            draftEntity?.status === "pending_review"
              ? "ממתינה לאישור"
              : draftEntity?.status === "active"
                ? "פעילה"
                : "טיוטה"
          }}
        </span>
      </div>
    </div>
  </div>

  <!-- INTERNAL NAVIGATION -->

  <div class="entity-sections-nav">
    <button
      type="button"
      (click)="
        profileSection.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        })
      "
    >
      פרופיל
    </button>

    <button
      type="button"
      (click)="
        goalsSection.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        })
      "
    >
      יעדים
    </button>

    <button
      type="button"
      (click)="
        paymentSection.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        })
      "
    >
      סליקת תרומות
    </button>

    <button
      type="button"
      (click)="
        billingSection.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        })
      "
    >
      אמצעי חיוב
    </button>
  </div>

  <!-- BASIC INFO -->

  <div #basicInfoSection>
    @if (!editMode || editingSection !== "basic-info") {
      <app-entity-basic-info-section-view
        [entity]="draftEntity"
        (edit)="startEdit('basic-info')"
      >
      </app-entity-basic-info-section-view>
    } @else {
      <app-entity-basic-info-section-edit
        [entity]="draftEntity"
        (entityChange)="onEntityChange($event)"
        [editMode]="true"
        [saveState]="saveState"
        [saveError]="saveError"
        [showInlineError]="showInlineError"
        (save)="saveAll()"
        (cancel)="cancelEdit()"
      >
      </app-entity-basic-info-section-edit>
    }
  </div>

  <br />

  <!-- PROFILE -->

  <div #profileSection>
    @if (!editMode || editingSection !== "profile") {
      <app-entity-profile-section-view
        [entity]="draftEntity"
        [entityTypeLabel]="entityTypeLabel"
        [campaignTypes]="campaignTypes"
        (edit)="startEdit('profile')"
      >
      </app-entity-profile-section-view>
    } @else {
      <app-entity-profile-section-edit
        [entity]="draftEntity"
        [entityTypeLabel]="entityTypeLabel"
        [campaignTypes]="campaignTypes"
        [saveState]="saveState"
        (entityChange)="onEntityChange($event)"
        (save)="saveAll()"
        (cancel)="cancelEdit()"
      >
      </app-entity-profile-section-edit>
    }
  </div>

  <br />

  <div #goalsSection>
    @if (!editMode || editingSection !== "goals") {
      <app-entity-goals-section-view
        [entity]="draftEntity"
        (edit)="startEdit('goals')"
      >
      </app-entity-goals-section-view>
    } @else {
      <app-entity-goals-section-edit
        [entity]="draftEntity"
        [saveState]="saveState"
        (entityChange)="onEntityChange($event)"
        (save)="saveAll()"
        (cancel)="cancelEdit()"
      >
      </app-entity-goals-section-edit>
    }
  </div>

  <br />
  <div #paymentSection>
    @if (!editMode || editingSection !== "payment") {
      <app-entity-payment-section-view
        [entity]="draftEntity"
        (edit)="startEdit('payment')"
        (testConnection)="testBillingConnection()"
      >
      </app-entity-payment-section-view>
    } @else {
      <app-entity-payment-section-edit
        [model]="draftEntity"
        [saveState]="saveState"
        [isCheckingConnection]="isCheckingBillingConnection"
        (save)="saveAll()"
        (cancel)="cancelEdit()"
        (testConnection)="testBillingConnection()"
        (modelChange)="onEntityChange($event)"
      >
      </app-entity-payment-section-edit>
    }
  </div>

  <br />

  <!-- BILLING -->

  <div #billingSection>
    @if (!editMode || editingSection !== "billing") {
      <app-entity-billing-section-view
        [entity]="draftEntity"
        (edit)="startEdit('billing')"
      >
      </app-entity-billing-section-view>
    } @else {
      <app-entity-billing-section-edit
        [entity]="draftEntity"
        [saveState]="saveState"
        (entityChange)="onEntityChange($event)"
        (save)="saveAll()"
        (cancel)="cancelEdit()"
      >
      </app-entity-billing-section-edit>
    }
  </div>
</div>
